/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

*body{
    padding:0px !important;
    margin : 0px !important;
}

.container-fluid {
    margin-left: 0px !important;
    margin-right:  0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
